BASE_URL=https://qa-a.recruitment.mediamarslab.com
ACCESS_KEY=<application-id.secret>
ADMIN_EMAIL=<admin-email-from-application>
ADMIN_PASSWORD=<admin-password-from-application>
ANALYTICS_BASIC_USER=<analytics-basic-user>
ANALYTICS_BASIC_PASSWORD=<analytics-basic-password>
